<h1>Books</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :status_eq, "Estado" %>
  <%= f.select :status_eq, options_for_select(Book.statuses, @q.status_eq) %>
  <%= f.submit %>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Fecha de Prestamo</th>
      <th scope="col">Fecha de Devolucion</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.status %></td>
            <td><%= book.borrowed_at %></td>
            <td><%= book.returned_at %></td>
            <td>
                <button><%= link_to "Ver", book %></button>
                <button><%= link_to "Borrar", book, method: :delete, data: {confirm: 'estas seguro?'} %></button>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
    <%= paginate(@books) %>
</div>
<button><%= link_to "Nuevo Libro", books_new_path %></button>

</button>